:root{

}

.body-studio{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFFFF;
}

.web{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio{
        color: #2e2f42;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.index{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link:hover{
    color: #404bbf;
}

.link:focus{
    color: #404bbf;
}

.adress-style{
    font-style: normal;
}

.contact{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section1{
    background-color: #2e2f42;
}

.section1-title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.section1-button{
    color: #ffffff;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.section1-button:hover{
    background-color: #404bbf;
}

.section1-button:focus{
    background-color: #404bbf;
}

.section1-button{
    cursor:pointer
}